h1 {
	color: #375e97;
	font-size: 5rem;
	font-family: cursive;
	border-bottom: 1px solid #375e97;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 2rem;
}

a {
	font-size: 3rem;
	color: black;
	text-decoration: none;
	border-style: solid;
	padding: 0.5em;
	font-weight: bold;
	padding: 10px;
	margin: 0.5em 0;
	border-radius: 0.5em;
	background-color: greenyellow;
}

body{
	background-color: pink;
}


ul {
	font-size: 1.3rem;
	position: absolute;
	list-style-type: none;
	font-weight: bold;
}

img {
	margin-left: 30%;
	margin-top: 10%;
	width: 40%;
	height: 40%;
}

@media screen and (min-height: 1000px) {
	#add_img{
		width: 120%;
		height: 120%;
	}
}

li:hover {
	background-color: red;
}

#next {
	margin-left: 20px;
	margin-top: 150px;
	background-color: aqua;
}

#next:hover {
	background-color: yellow;
}

footer {
	margin-top: 100px;
}
